# Forcer les playbooks Ansible à être reconnus comme "Ansible"
*.yml linguist-language=Ansible
*.yaml linguist-language=Ansible

# Forcer les templates Jinja à être reconnus comme "Jinja" (ou YAML)
*.j2 linguist-language=Jinja
*.jinja2 linguist-language=Jinja

# Forcer le Vagrantfile à être reconnu comme "Vagrant"
Vagrantfile linguist-language=Vagrant